@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  background-color: #f6ede6; /* Apply the background color */
  font-family: var(--font-inter), sans-serif;
}

.font-playwrite {
  font-family: var(--font-playwrite), cursive;
}

.nav-link {
  transition: color 0.3s, transform 0.3s;
}

.nav-link:hover {
  color: #6366f1; /* Tailwind's indigo-500 */
  transform: scale(1.1);
}

.nav-link.active {
  color: #4f46e5; /* Tailwind's indigo-600 */
  font-weight: bold;
}

/* Common class for the social buttons */
.icon-btn {
  @apply w-12 h-12 flex items-center justify-center rounded-lg border border-black shadow-md transition duration-300;
}

.icon-btn:hover {
  @apply scale-110 shadow-lg;
}

/* Perspective and Flip */
.perspective {
  perspective: 1000px;
}

.transform-style-preserve {
  transform-style: preserve-3d;
}

.transform-style-backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Holographic Effect */
.group-hover\:shadow-holo:hover {
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.5),
    0 0 20px rgba(0, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.group-hover\:scale-105:hover {
  transform: scale(1.05);
}

/* Custom clip-path for image spill effect */
.clip-path-spill {
  clip-path: polygon(0 15, 100% 15, 100% 90%, 50% 100%, 0 90%);
}

/* Smooth scroll offset for fixed navbar */
section {
  scroll-margin-top: 6rem;
}




.blog-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #2545fc;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.swipe-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #333; /* or any color you prefer */
  transition: all 0.3s ease-out;
}

.prose {
  line-height: 1.8;
  font-size: 1.125rem;
  max-width: 800px;
  margin: 0 auto;
}
